<div class='centered-body'>
  <div class='header'>Stocks</div>
  <% if @stocks.length > 0 %>
    <div class='card'>
      <table>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Change</th>
          <th>Company</th>
          <th class='centered-cell'>Trade</th>
        </tr>
        <% @stocks.each do |stock| %>
          <tr>
            <td>
              <%= stock.symbol %>
            </td>
            <td>
              <% if stock.change_percent >= 0 %>
                <div class='green'>
                  <%= number_to_currency(stock.price, format: '%u %n') %>
                </div>
              <% else %>
                <div class='red'>
                  <%= number_to_currency(stock.price, format: '%u %n') %>
                </div>
              <% end %>
            </td>
            <td>
              <% if stock.change_percent >= 0 %>
                <div class='green'>
                  <%= "+ #{(stock.change_percent * 100).round(2)}%" %>
                </div>
              <% else %>
                <div class='red'>
                  <%= "- #{(stock.change_percent * 100).abs.round(2)}%" %>
                </div>
              <% end %>
            </td>
            <td>
              <%= stock.company %>
            </td>
            <td class='cell-with-centered-image'>
              <%= link_to stock_path(stock) do %>
                <%= image_tag('trade.svg') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <%= render 'pages/empty' %>
  <% end %>
</div>
