<div class='centered-body'>
  <%= link_to stocks_path do %>
    <%= image_tag('back.svg') %>
  <% end %>
  <div class='card'>
    <div class='stock-name'>
      <%= @stock.symbol %>
    </div>
    <div class='stock-price'>
      <%= number_to_currency(@stock.price, format: '%u %n') %>
    </div>
  </div>
  <div class='split-card'>
    <div class='card flex-column-10px-gap'>
      <div class='header'>Buy</div>
      <%= form_with model: current_user.transactions.new, url: buy_path(@stock.id) do |f| %>
        <div class='flex-column-20px-gap'>
          <div>
            <%= f.label :quantity %>
            <%= f.number_field :quantity %>
          </div>
          <div>
            <%= f.submit 'Buy stock', class: 'button-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class='card flex-column-10px-gap'>
      <div class='header'>Sell</div>
      <%= form_with model: current_user.transactions.new, url: sell_path(@stock.id) do |f| %>
        <div class='flex-column-20px-gap'>
          <div>
            <%= f.label :quantity %>
            <%= f.number_field :quantity %>
          </div>
          <div>
            <%= f.submit 'Sell stock', class: 'button-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
