<%= form_with model: user, url: path do |f| %>
  <div>
    <div>
      <%= f.label :email %>
    </div>
    <%= f.email_field :email %>
  </div>
  <% @user.errors.full_messages_for(:email).each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <br>
  <div>
    <div>
      <%= f.label :first_name %>
    </div>
    <%= f.text_field :first_name %>
  </div>
  <% @user.errors.full_messages_for(:first_name).each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <br>
  <div>
    <div>
      <%= f.label :last_name %>
    </div>
    <%= f.text_field :last_name %>
  </div>
  <% @user.errors.full_messages_for(:last_name).each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <br>
  <div>
    <div>
      <%= f.label :password %>
      <div>
        <em>(6 characters minimum)</em>
      </div>
    </div>
    <%= f.password_field :password %>
  </div>
  <% @user.errors.full_messages_for(:password).each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <br>
  <div>
    <div>
      <%= f.label :password_confirmation %>
    </div>
    <%= f.password_field :password_confirmation %>
  </div>
  <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <br>
  <div>
    <%= f.submit button_text %>
  </div>
<% end %>
