<div class='card flex-column-10px-gap'>
  <div class='header'>
    <%= header %>
  </div>
  <%= form_with model: user, url: path do |f| %>
    <div class='flex-column-20px-gap'>
      <div class='flex-column-5px-gap'>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <% @user.errors.full_messages_for(:email).each do |message| %>
          <div class='error-message'>
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class='flex-column-5px-gap'>
        <div>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <% @user.errors.full_messages_for(:first_name).each do |message| %>
          <div class='error-message'>
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class='flex-column-5px-gap'>
        <div>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
        <% @user.errors.full_messages_for(:last_name).each do |message| %>
          <div class='error-message'>
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class='flex-column-5px-gap'>
        <div>
          <%= f.label :password %>
        </div>
        <%= f.password_field :password %>
        <% @user.errors.full_messages_for(:password).each do |message| %>
          <div class='error-message'>
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class='flex-column-5px-gap'>
        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
          <div class='error-message'>
            <%= message %>
          </div>
        <% end %>
      </div>
      <div>
        <%= f.submit button_text, class: 'button-primary' %>
      </div>
    </div>
  <% end %>
</div>
