<div class='centered-body'>
  <div class='flex-space-between'>
    <div class='header'>Users</div>
    <%= link_to 'New user', new_user_path, class: 'button-primary' %>
  </div>
  <div class='card'>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Approved</th>
        <th>Show</th>
        <th>Edit</th>
      </tr>
      <% @users.all.each do |user| %>
        <tr>
          <td>
            <%= "#{user.first_name} #{user.last_name}" %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <% if user.approved %>
              <%= image_tag('yes.svg') %>
            <% else %>
              <%= image_tag('no.svg') %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user) do %>
              <%= image_tag('show.svg') %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_user_path(user) do %>
              <%= image_tag('edit.svg') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
