<% total_value = 0 %>
<div class='centered-body'>
  <div class='header'>Portfolio</div>
  <% if @portfolio.keys.length > 0 %>
    <div class='card'>
      <table>
        <tr>
          <th>Stock</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Change</th>
          <th>Value</th>
        </tr>
        <% @portfolio.keys.each do |key| %>
          <% stock = Stock.find(key) %>
          <tr>
            <td>
              <%= stock.symbol %>
            </td>
            <td>
              <%= @portfolio[key].to_i == @portfolio[key] ? @portfolio[key].to_i : @portfolio[key] %>
            </td>
            <td>
              <% if stock.change_percent > 0 %>
                <div class='green'>
                  <%= number_to_currency(stock.price, format: '%u %n') %>
                </div>
              <% else %>
                <div class='red'>
                  <%= number_to_currency(stock.price, format: '%u %n') %>
                </div>
              <% end %>
            </td>
            <td>
              <% if stock.change_percent > 0 %>
                <div class='green'>
                  <%= "+ #{(stock.change_percent * 100).round(2)}%" %>
                </div>
              <% else %>
                <div class='red'>
                  <%= "- #{(stock.change_percent * 100 * -1).round(2)}%" %>
                </div>
              <% end %>
            </td>
            <td>
              <%= number_to_currency(stock.price * @portfolio[key], format: '%u %n') %>
              <% total_value += stock.price * @portfolio[key] %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <%= render 'pages/empty' %>
  <% end %>
  <div class='card flex-column-5px-gap'>
    <div class='gray-capitalized'>Total Value</div>
    <div class='xl'>
      <%= number_to_currency(total_value, format: '%u %n') %>
    </div>
  </div>
</div>
