<div class='navbar'>
  <div class='navleft'>
    <div class='logo'>
      <%= link_to 'banana', root_path %>
    </div>
    <div class='navlinks'>
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <%= link_to 'Users', users_path, class: @selected == 'users' ? 'selected' : nil %>
          <%= link_to 'Pending', pending_path, class: @selected == 'pending' ? 'selected' : nil %>
        <% else %>
          <%= link_to 'Stocks', stocks_path, class: @selected == 'stocks' ? 'selected' : nil %>
          <%= link_to 'Portfolio', portfolio_path, class: @selected == 'portfolio' ? 'selected' : nil %>
          <%= link_to 'Account', account_path, class: @selected == 'account' ? 'selected' : nil %>
        <% end %>
        <%= link_to 'Transactions', transactions_path, class: @selected == 'transactions' ? 'selected' : nil %>
      <% end %>
    </div>
  </div>
  <div class='navright'>
    <% if user_signed_in? %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button-secondary' %>
    <% else %>
      <%= button_to 'Sign in', user_session_path, class: 'button-primary' %>
    <% end %>
  </div>
</div>
