<div class='navbar'>
  <div class='navleft'>
    <div class='logo'>
      <%= link_to 'logo', root_path %>
    </div>
    <div class='navlinks'>
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <%= link_to 'Users', users_path %>
          <%= link_to 'Pending', pending_path %>
        <% else %>
          <%= link_to 'Stocks', stocks_path %>
          <%= link_to 'Portfolio', portfolio_path %>
          <%= link_to 'Account', account_path %>
        <% end %>
        <%= link_to 'Transactions', transactions_path %>
      <% end %>
    </div>
  </div>
  <div class='navright'>
    <% if user_signed_in? %>
      <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</div>
